* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pirata One';
  color: #222;
  background: antiquewhite;
  font-size: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

p {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
  margin: .4rem;
}

header {
  text-align: center;
  height: 100px;
}

h1 {
  font-size: 3.5rem;
  color: #202225;
  margin: 0;
}

a {
  color: #222;
  text-decoration: none;
}

sup {
  color: #a55;
}

.bukvica {
  font-size: 4rem;
  line-height: 4rem;
  color: #a55;
  display: block;
  padding: 0 1rem 0 0;
  float: left;
}

ul {
  display: flex;
  list-style: none;
  color: red;
  flex-wrap: wrap;
}

ul>li {
  padding: 1rem;
}